<article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h3 class="post-title">{{ post.title }}</h3>
        {% if post.subtitle %}
            <h4 class="post-subtitle">{{ post.subtitle }}</h4>
        {% else %}
            <h4 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h4>
        {% endif %}
    </a>
    <p class="post-meta">Posté par
        {% if post.author %}
            {{ post.author }}
        {% else %}
            {{ site.author }}
        {% endif %}
        le {{ post.date | date: '%d/%m/%Y' }}</p>
    <p class="post-tags">{{ post | tags }}</p>
</article>