---
layout: default
---

<!-- Page Header -->
<header class="masthead"{% if page.background %} style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')"{% endif %}>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{ site.title_display }}</h1>
                    {% if site.description %}
                        <span class="subheading">{{ site.description }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<main class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
                <!-- Home Post List -->
                {% for post in site.posts limit : 5 %}
                    {% include post_preview.html %}
                {% endfor %}

                <!-- Pager -->
                <div class="clearfix pager">
                    <a class="btn btn-primary float-right" href="{{ "/posts" | relative_url }}">Voir tous les articles
                        &rarr;</a>
                </div>
        </div>
    </div>
</main>
